html {
  font-size: 62.5%;

  &.sr .load-hidden {
    visibility: hidden;
  }
}

@media (prefers-reduced-motion: reduce) {
  html.sr .load-hidden {
    visibility: visible;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
