.chooselang{
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
  flex-direction: row;
}

#langselector{
  font-size: 1.4rem;
  color: #0dcaf0;
  padding-right: 10px;
}
#langselector select{
  border: 1px solid #0dcaf0 ;
}
#langselector select:focus{
  outline: none;
}